@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.forensicsDashboard {
background-color: #0F0F0F ;
color: white;
height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 20px;
    margin-top: 7px;
    padding: 7px;
    margin-left: 28px;
    display: block;
    font-weight: 500;
}

.cards-container {
    display: flex;
    gap: 10px; 
    margin-top: 5px;
    margin-left: 26px;
    margin-right: 26px;
}
.panel {
    width: 30%; 
    min-width: 200px; 
    border-radius: 8px;
}

.map-container {
  width: 100%;
  height: 400px;
}

.map-container svg {
  width: 100% !important;
  height: 100% !important;
}

.map-panel {
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.1);
  margin-top: 20px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  background-color: #0F0F0F; 
  color: white;
}
